a {
  text-decoration: none;
  color: blue;
}

#nav {
  text-align: center;
  font-size: 1.5em;
}

#content {
  margin-top: 25px;
}

#menuItems {
  float: left;
  width: calc(100%/3 - 25px);
}

#catItems {
  float: left;
  width: calc(100%/3);
  padding-left: 10px;
  border-left: 1px solid black;
}

#item {
  float: left;
  width: calc(100%/3 - 25px);
  border-left: 1px solid black;
  padding-left: 10px;
}
